<div class="ideaheader">
  <h1><%= @idea.title %></h1><br />
  <p><%= link_to(@idea.user.username, "/profiles/#{@idea.user.username}") %></p>
  <p><%= @idea.body %></p><br />

  <%= form_for Comment.new do |f| %>

    <%= f.hidden_field(:commentable_id, value: @idea.id) %>
    <%= f.hidden_field(:commentable_type, value: Idea) %>
    <%= f.label :comment %>
    <%= f.text_field :text %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>


<% def display_comments(parent_id, commentable) %>

  <% if commentable.comments.length == 0 then return end %>



      <% if commentable.comments.length == 0 then return end %>
      <% commentable.comments.order(:created_at).each do |c| %>

        <div class="comment">
        <p id="<%= c.id %>"><%= link_to(c.user.username, "/profiles/#{c.user.username}") %> </p>  

        <div class="comment_text">
          <p><%= c.text %> </p>
        </div>

        <p> Submitted <%= time_ago_in_words(c.created_at) %> ago </p>


        <%= form_for Comment.new do |f| %>
          <%= f.hidden_field(:parent_id, value: parent_id) %>
          <%= f.hidden_field(:commentable_id, value: c.id) %>
          <%= f.hidden_field(:commentable_type, value: c.class.name) %>
          <%= f.label :comment %>
          <%= f.text_field :text %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
       <% end %>

       </div>


      <div class="nested">
        <p><% display_comments(parent_id, c) %> </p>
      </div>

      <% end %>


<% end %>


<% display_comments(@idea.id, @idea) %>
